
/* 페이퍼1 */

.i_side {
	width:138px;
    z-index:10;
    margin-right:-1px
    }
.r_side {
	width:140px;
    z-index:10;
    margin-right:-1px
    }
.date1, .date2 {
	width:140px;
	height:32px;
	border:1px solid grey;
   border-right:none;
   border-bottom:none;
   border-radius:5px 0 0 0;
   margin-bottom:-2px;
   }
.date1 {
    background-color:#E6E6E6;
	}
.date1:hover {
   background-color:#E6E6E6;
   color:#2E2E2E;
}
#list_date {
	border:1px solid grey;
	border-radius:5px;
	padding:6px;
	text-align:center;
	box-shadow:1px 1px 3px #BDBDBD;
	background-image:url("img/20200913092856.png")
	}

#history {
	background-color:#E6E6E6;
	border:1px solid grey;
	border-radius:2px;
	box-shadow:1px 1px 3px grey;
	padding:20px;
   margin-top:10px;
	overflow:auto;
}


/* 페이퍼2 */

#s_head {
	height:100px;
	padding:10px
	}
#logo {
	width:90px;
	height:90px;
	background-image:url("img/logo.png");
	background-size:cover
	}
#cc {
	width:90%;
	margin-top:8px;
	padding:4px;
	border-bottom:2px solid black;
	font:800 18px 'Nanum Myeongjo';
	}
#cc:focus { border-color:#01A9DB }

#subjective {
	background-color:transparent;
	border:none;
	font-size:14px
	}
#subjective:focus {
	box-shadow:none
	}


/* 페이퍼3 */

#p_tag {	width:200px	}
	
#vac_tag { width:200px }

