doctype html
html
	head
		title= "login"
		link(rel='stylesheet',href='/stylesheets/index.css')
		script(type="text/javascript",src='/javascripts/index.js')

	body(oncontextmenu='return false',onselectstart='return false',ondragstart='return false')

		.main
			form(action="/auth",method="post").login
				fieldset
					input(type="email",name="username",required,autofocus,placeholder="이메일")
					input(type="password",name="password",required,placeholder="비밀번호")
					.note
						input(type="checkbox",checked)
						span 이메일저장
					.note.red #{note}
					.note
						input(type="submit",value="로그인")
						input(type="button",value="회원가입").goSignUp
					.note.find ID/PW 찾기
			.content
				h1 	PAPER
				h3 simple one for all Vet

		.main.main1.hide
			.signUp
				h1 PAPER
				.signUpNav 신규회원등록
				.signUpNav.signUpNavDark 동물병원등록
			//- 회원가입 폼
			form(action="/usersignup",method="post").signUpForm
				fieldset
					.form1
						input(type="email",name="email",required,placeholder="이메일")
						input(type="number",name="tel",placeholder="휴대전화").qualify1
						.qualify2 인증하기
						input(type="password",name="password",required,placeholder="비밀번호").password
						input(type="password",placeholder="비밀번호확인").password
					.form1
						input(type="text",name="name",placeholder="실명")
						input(type="text",name="nick",placeholder="닉네임")
						input(type="number",name="license",placeholder="면허번호")
						input(type="text",name="hospital",placeholder="소속동물병원")
					.form2
						input(type="submit",value="가입")
						input(type="button",value="취소").goSignUp

			//- 동물병원등록 폼
			form(action="/hospitalsignup",method="post").signUpForm.hide
				fieldset
					.form1
						input(type="text",name="name",required,placeholder="동물병원명")
						input(type="number",name="bizNumber",autofocus,required,placeholder="사업자/법인번호").qualify1
						.qualify2 중복검사
						input(type="text",name="address",placeholder="주소")
						input(type="number",name="tel",placeholder="전화번호")
						input(type="email",name="email",placeholder="이메일")
					.form1
						input(type="text",name="chief",placeholder="대표자명")
						input(type="number",name="chiefTel",placeholder="대표자휴대전화").qualify1
						.qualify2 인증하기
						input(type="number",name="",placeholder="사업자등록증사본").qualify1
						.qualify2 업로드
						input(type="number",name="",placeholder="개설신고필증사본").qualify1                        
						.qualify2 업로드
						input(type="number",name="",placeholder="동물병원로고").qualify1
						.qualify2 업로드
					.form2
						input(type="submit",value="등록")
						input(type="button",value="취소").goSignUp
