doctype html
html
	head
	title= title
	link(rel='stylesheet',href='/stylesheets/general.css')
	link(rel='stylesheet',href='/stylesheets/paper.css')
	script(type="text/javascript",src='/javascripts/script.js')

	body

	extends paper1
		block content