doctype html
html
	head
	title= title
	link(rel='stylesheet',href='/stylesheets/general.css')
	link(rel='stylesheet',href='/stylesheets/paper.css')
	script(type="text/javascript",src='/javascripts/script.js')

	body
		.paper_nav
			.paper_nav1 찾기
			.paper_nav1 로비
			.paper_nav1 리셉션
			.paper_nav1 진료실
			.paper_nav1 입원실
			.paper_nav1 미용실
		.paper1.f_column.flex3
			include paper1
		.paper2.f_column.flex3
			include paper2
		.paper3.f_column.flex2