
<!-- Paper2 -->

<div class="paper flex_column flex3">


	<!-- S -->

	<header id="s_head" class="flex_row">
		<div id="logo"></div>
		<div class="flex1 center">
			<div class="right annotation2">Case no. uvet-2020-00001</div>
			<input id="cc" placeholder="내원목적" value="공원에서 산책 후 좌후지파행, 통증호소">
			<br>
			<span class="annotation2">
				<b>Author</b> 김어준 DVM, PhD, 원장 &nbsp
				<b>Date</b> 2020.9.15 &nbsp
				<b>Time</b> 2:15pm
			</span>
		</div>
	</header>

	<section class="flex4 flex_row">
		<aside class="flex1 box">
			<div class="box_top">개요</div>
			<ul>
				<li>동물이름</li>
				<li>나이</li>
				<li>성별</li>
			</ul>
		</aside>
		<article class="flex3 flex_column">
			<div class="flex_row flex_center">
				<span><h1>S</h1><h3>~A</h3></span>
				<span class="annotation1">[태그예시] #종합3차+엔터</span>
			</div>
			<div id="subjective" class="flex1"></div>
		</article>
	</section>

	<hr>

	<section class="flex3 flex_row">

		<!-- O -->
		<article class="flex2 flex_column">
			<div class="flex_row flex_center">
				<h1>O</h1>
				<span class="flex1 right annotation2">
					<input class="input_s" placeholder="체중">㎏ &nbsp
					<input class="input_s" placeholder="체온">℃ &nbsp
					<input class="input_s" placeholder="심박수">b/m &nbsp
					<input class="input_s" placeholder="호흡수">r/m &nbsp
					<input class="input_s" placeholder="혈압">mmHg &nbsp
				</span>
			</div>
			<div class="flex_row flex1"></div >
			<div class="flex_row">
				<button class="btn_m flex1">검이경</button>
				<button class="btn_m flex1">현미경</button>
				<button class="btn_m flex1">방사선</button>
				<button class="btn_m flex1">초음파</button>
				<button class="btn_m flex1">이미지</button>
			</div>
			<div class="flex_row">
				<button class="btn_m flex1">검사 1</button>
				<button class="btn_m flex1">검사 2</button>
				<button class="btn_m flex1">검사 3</button>
				<button class="btn_m flex1">검사 4</button>
				<button class="btn_m flex1">검사 5</button>
			</div>
		</article>

		<!-- DDx -->
		<article class="flex1 box flex_column">
			<div class="box_top flex_row flex_center">
				DDx<input class="box_input" placeholder="#">
			</div>
			<div class="box_content right annotation2">
				<b>Rull-out / Dx</b>
			</div>
			<div class="box_content flex1">
				<div class="flex_row">
					<span>1. 이런 병</span><br>
					<span>
						<input type="checkbox">
						<input type="checkbox">
					</span>
				</div>
				<div class="flex_row">
					<span>1. 저런 병</span><br>
					<span>
						<input type="checkbox">
						<input type="checkbox">
					</span>
				</div>
			</div>
			<div class="box_content right">
				<button class="btn_s">직접선택</button
				><button class="btn_s">이전기록</button>
			</div>
		</article>

	</section>

</div>
