
<!-- Paper3 -->

<div class="paper flex_column flex2">

	<!-- P -->
	<div class="flex_row flex_center">
		<h1>P</h1>
		<span>
			<input id="p_tag" placeholder="#">
			<button class="btn_s">직접선택</button
			><button class="btn_s">기록보기</button>
		</span>
	</div>

	<section class="flex2 flex_row">
		<article class="flex1">
		</article>
		<div class="bar"></div>
		<article class="flex1">
		</article>
	</section>

	<hr>

	<!-- Vac -->
	<div class="flex_row flex_center">
		<h2>Vac</h2>
		<span>
			<input id="vac_tag" placeholder="#">
			<button class="btn_s">직접선택</button
			><button class="btn_s">기록보기</button>
		</span>
	</div>

	<section class="flex2 flex_row">
		<article class="flex1">
		</article>
		<article class="flex1">
		</article>
	</section>

	<hr>

	<!-- Footer -->	
	<footer class="flex1 flex_column">
		<article class="flex1">
		</article>
		<div class="flex_row">
			<button class="btn_l flex1">저장하기</button>			<button class="btn_l flex1">저장/나가기</button>
			<button class="btn_l flex1">취소/나가기</button>
			<button class="btn_l flex1">예약하기</button>
			<button class="btn_l flex1">입원/퇴원</button>
			<button class="btn_l flex1">청구서보기</button>
		</div>
	</footer>

</div>
