header#info
	.f_row
		h3 Info
		.f_2
		.f_2 대럴애봇
		.f_3 010-9950-6823
		.f_2 초고수
		input.w50(type="button",value="상세")
	.f_row.center.bold
		.f_1
		.w80.over_h 땅이
		.w80.over_h 고양이
		.w200.over_h 코리안 도메스틱 숏헤어 Domestic short hair
		.w50.over_h 중,남
		.w80.over_h 7년10개월
		input.w50(type="button",value="상세")
	.f_row
		.f_1
		input.w50(type="button",value="+")

section.flex_row.flex1
	aside.flex_column.r_side
		h3 Record
		.date2(tabindex="1") 2020.9.10
		.date1 2020.9.5
		.date2(tabindex="1") 2020.9.1
		.date2(tabindex="1") 2020.8.29
		.date2(tabindex="1") 2020.8.10
		.date2(tabindex="1") 2020.6.1
		.date2(tabindex="1") 2020.5.15
		.date2(tabindex="1") 2020.5.10
		.date2(tabindex="1") 2020.4.10
		.date2(tabindex="1") 2020.4.1
		#list_date.flex1
			span.annotation2 << &nbsp 1 2 3 4 5 &nbsp >>
	article.flex_column.flex1
		.right.annotation1 *간단한 도움말 입력
		#history.flex1
			h4 S
			hr
			h4 O
			hr
			h4 A
			hr
			h4 P
			hr
			h4 Vac
			hr
			input.btn_s(type="button",value="출력")
			input.btn_s(type="button",value="수정")