
<!-- Paper1 -->

<div class="paper flex_column flex3">

	<!-- Info -->
	<header class="flex_row">
		<aside class="i_side flex_column">
			<h2>Info</h2>
			<button class="btn_m">찾기 <span class="text_s">F1</span></button>
			<button class="btn_m">외래대기열 <span class="text_s">F2</span></button>
			<button class="btn_m">입원실 <span class="text_s">F3</span></button>
			<button class="btn_m">메뉴 <span class="text_s">F4</span></button>
			<button class="btn_m">메뉴 <span class="text_s">F5</span></button>
			<button class="btn_m">메뉴 <span class="text_s">F6</span></button>
		</aside>
		<div class="flex1 right">
			<input class="input_m" placeholder="보호자">
			<input class="input_m" placeholder="전화번호">
			<input class="input_m" placeholder="분류">
			<button class="btn_s">상세</button>
			<p>
			<nav>
				<input class="input_m" placeholder="동물 1">
				<input class="input_s" placeholder="종">
				<input class="input_l" placeholder="품종">
				<input class="input_s" placeholder="성별">
				<input class="input_s" placeholder="나이">
				<button class="btn_s">상세</button><br>
				<button class="btn_s">+</button>
			</nav>
		</div>
	</header>

	<hr>

	<!-- Record -->
	<section class="flex_row flex1">
		<aside class="flex_column r_side">
			<h2>Record</h2>
			<button class="date2">2020.9.10</button>
			<button class="date1" disabled>2020.8.31</button>
			<button class="date2">2020.8.7</button>
			<button class="date2">2020.7.26</button>
			<button class="date2">2020.6.10</button>
			<button class="date2">2020.6.5</button>
			<button class="date2">2020.8.7</button>
			<button class="date2">2020.7.26</button>
			<button class="date2">2020.6.10</button>
			<button class="date2">2020.6.5</button>
			<div id="list_date" class="flex1">
				<span class="annotation2"><< &nbsp 1 2 3 4 5 &nbsp >></span>
			</div>
		</aside>
		<article class="flex_column flex1">
			<div class="right annotation1">*간단한 도움말 입력</div>
			<div id="history" class="flex1">
				<h3>S</h3>
				<hr>
				<h3>O</h3>
				<hr>
				<h3>A</h3>
				<hr>
				<h3>P</h3>
				<hr>
				<h3>Vac</h3>
				<hr>
				<button class="btn_s">출력</button>
				<button class="btn_s">수정</button>
			</div>
		</article>
	</section>
</div>

