header#info
	.info1.bold
		h3 Info
		.f_1
		.info2.w150 대럴애봇
		.info2.w150 010-9950-6823
		.info2.w80 초고수
		input.w50(type="button",value="상세")
	.info1.bold
		.info2.w80 땅이
		.info2.w80 고양이
		.info2.w150 코리안 도메스틱 숏헤어 Domestic short hair
		.info2.w50 중,남
		.info2.w80 7년10개월
		input.w50(type="button",value="상세")
	.info1
		input.w50(type="button",value="+")

section.flex_row.flex1
	aside.flex_column.r_side
		h3 Record
		.date1 2020. 9.10
		.date2 2020. 9. 5
		.date2 2020. 9. 1
		.date2 2020. 8.29
		.date2 2020. 8.10
		.date2 2020. 6. 1
		.date2 2020. 5.15
		.date2 2020. 5.10
		.date2 2020. 4.10
		.date2 2020. 4. 1
		#list_date.flex1
			span.bold << 1 2 3 4 5 >>
	article.f_1.f_column
		.right.annotation1 *간단한 도움말 입력
		#history.f_1.f_column
			.f_1
				h4 S
				br
				h4 O
				br
				h4 A
				br
				h4 P
				br
				h4 Vac
			.right
				input.btn_s(type="button",value="출력")
				input.btn_s(type="button",value="수정")