#info
	.bold.f-row.f-cen
		h1 Info
		.f1
		.info.w150 대럴애봇
		.info.w150 010-9950-6823
		.info.w80 초고수
		input.w50(type="button",value="상세")
	.bold.f-row.f-cen
		.f1
		.info.w80 땅이
		.info.w80 고양이
		.info.w150 코리안 도메스틱 숏헤어 Domestic short hair
		.info.w50 중,남
		.info.w80 7년10개월
		input.w50(type="button",value="상세")
	.right
		input.w50(type="button",value="+")

.hr
.f1.f-row
	.f-col
		h1 Record
		br
		.date1 2020. 9.10
		.date2 2020. 9. 5
		.date2 2020. 9. 1
		.date2 2020. 8.29
		.date2 2020. 8.10
		.date2 2020. 6. 1
		.date2 2020. 5.15
		.date2 2020. 5.10
		.date2 2020. 4.10
		.date2 2020. 4. 1
		#date3.f1
			span.bold << 1 2 3 4 5 >>
	article.f1.f-col
		.right.font-s.grey.italic *간단한 도움말 입력
		#history.f1.f-col
			.f1
				h3.grey S
				br
				h3.grey O
				br
				h3.grey A
				br
				h3.grey P
				br
				h3.grey Vac
			.right
				input.btn-s(type="button",value="출력")
				input.btn-s(type="button",value="수정")
