.box-g.paper.f2.b10
	.f-row.f-cen
		h1 P
		.f1
		input.plan(placeholder="#")
		input(type="button",value="직접선택")
		input(type="button",value="기록보기")
	.f2.f-row
		.f1
		.bar
		.f1

.box-g.f2.b10
	.f-row.f-cen
		h1 Vac
		.f1
		input.plan(placeholder="#")
		input(type="button",value="직접선택")
		input(type="button",value="기록보기")
	.f2.f-row
		.f1
		.f1

footer.f1.f-col
	.f1
	.f-row
		input.foot.f1(type="button",value="저장하기")
		input.foot.f1(type="button",value="저장/나가기")
		input.foot.f1(type="button",value="취소/나가기")
		input.foot.f1(type="button",value="예약하기")
		input.foot.f1(type="button",value="입원/퇴원")
		input.foot.f1(type="button",value="청구서보기")
