/* 공통설정 */

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script');

body {
	display: flex;
	flex-wrap: wrap;
	height: 98vh;
	font-family: 'Nanum Gothic';
	justify-content: center;
	align-items: center
}

/* DIV */
.box {
	font-size:15px;
    border:1px solid black;
    border-radius:6px;
	margin:0 10px;
	}
.box_title {
	background-color:black;
	color:#E6E6E6;
	font-weight:bold;
	text-align:center;
	padding:5px 10px;
	margin:-1px;
	border-radius:5px 5px 0 0;
	}
.box_content { padding:5px }
.over_h {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
	}
.bold { font-weight: bold }

/* 크기 */
.w40 { width: 40px }
.w50 { width: 50px }
.w60 { width: 60px }
.w100 { width: 100px }
.w120 { width: 120px }
.w150 { width: 150px }
.w200 { width: 200px }

/* 텍스트 */

h1, h2, h3, h4 {
	display:inline;
	font:bold 36px Kaushan Script;
	margin:0;
	padding:0;
	}
h1 {
	color: white;
	text-shadow:1px 1px 1px #A4A4A4
	}
h2 {
	color: black;
	font-size:28px;
	text-shadow:1px 1px 1px #A4A4A4
	}
h3 {
	color: black;
	font-size:24px
	}
h4 {
	color:white;
	font-size: 22px
	}
.annotation1 {
	font:italic 12px bold;
	color:grey;
	}
.annotation2 { font-size:12px }
ul { margin-left:-10px }
hr {
	height:0;
	border:1px solid #BDBDBD;
	margin:14px
	}
.bar {
	width:0;
	border:1px solid #BDBDBD;
	margin:14px
	}
.white { color: white }
.red { color: red }


/* 입력 */

input:not([type="button"]):not([type="checkbox"]) {
	border:0px;
	background-color: #F2F2F2;
	text-align:center;
	font-family:'Nanum Gothic';
	margin:1px
	}
input:focus	{
	outline:none;
	border-bottom:1px solid #01A9DB
	}
input::placeholder {
	font-weight: bold;
	color:#a4a4a4
}

.input_s { width:10% }
.input_m { width:20% }
.input_l { width:30% }

.box_input {
	font-size:13px;
	font-weight:bold;
	color:#E6E6E6;
	width:60%;
	}

input[type="button"] {
	border:1px solid #2E2E2E;
	border-radius:3px;
	padding:4px;
	margin:2px 1px;
	background-color:transparent;
	font:bold 14px 'Nanum Gothic';
	color:#2E2E2E;
	}
input[type="button"]:hover,input[type="button"]:focus {
	background-color:#2E2E2E;
	color:#E6E6E6
	}
.btn_s { padding:3px }
.btn_m { padding:6px }
.btn_l {
	font-size:14px;
	padding:8px
	}


/* 위치 */

.flex_row {
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	}
.flex_column {
	display:flex;
	flex-direction:column;
	}
.flex1 { flex:1 }
.flex2 { flex:2 }
.flex3 { flex:3 }
.flex4 { flex:4 }
.flex_center { align-items:center }
.left { text-align: left }
.right { text-align:right }
.center { text-align:center }

.f_row {
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	align-items: center
	}
.f_column {
	display: flex;
	flex-direction: column;
	}
.f_1 { flex: 1 }
.f_2 { flex: 2 }
.f_3 { flex: 3 }
.f_4 { flex: 4 }
.f_center { align-items: center }
.f_end { align-items: flex-end }
.left { text-align: left }
.right { text-align:right }
.center { text-align:center }
