/* 공통설정 */

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script');

body {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	height: 98vh;
	font: 15px 'Nanum Gothic';
	cursor: default
}

/* DIV */
.box-g {
	background-color: #fafafa;
	border-radius: 6px;
	padding: 6px
	}
.box {
	width: 33%;
	background-color: white;
  border:1px solid black;
  border-radius:6px;
	margin-left:5px;
	}
.box1 {
	background-color:black;
	color:#E6E6E6;
	font-weight:bold;
	text-align:center;
	padding: 10px;
	margin:-1px;
	border-radius:5px 5px 0 0;
	}
.box2 { padding: 10px }
.hr {
	border: 1px solid #E6E6E6;
 	margin: 10px 0
	}
.b10 { margin-bottom: 10px }

/* 크기 */
.w50 { width: 50px }
.w80 { width: 80px }
.w150 { width: 150px }
.w200 { width: 200px }

/* 텍스트 */
h1, h2, h3, h4 {
	display:inline;
	font-family:Kaushan Script;
	text-shadow:1px 1px 1px #A4A4A4;
	margin: 0;
	}
ul { margin-left:-10px }
.bar {
	width:0;
	border:1px solid #BDBDBD;
	margin:14px
	}
.white { color: white }
.red { color: red }
.grey { color: grey }
.left { text-align: left }
.right { text-align:right }
.center { text-align:center }
.bold { font-weight: bold }
.italic { font-style: italic }
.font-s { font-size: 12px }


/* 입력 */
input:not([type="button"]):not([type="checkbox"]) {
	font-family:'Nanum Gothic';
	margin:1px
	}
input:focus:not([type="checkbox"])	{	outline: none }
input::placeholder {
	font-weight: bold;
	color: #A4A4A4;
	font: bold 15px "Nanum Gothic"
}
input[type="button"] {
	border:1px solid #2E2E2E;
	border-radius:3px;
	margin:2px 1px;
	background-color:transparent;
	font:bold 14px 'Nanum Gothic';
	color:#2E2E2E;
	}
input[type="button"]:hover,input[type="button"]:focus {
	background-color:#2E2E2E;
	color:#E6E6E6
	}

/* 위치 */
.f-row {
	display:flex;
	}
.f-col {
	display: flex;
	flex-direction: column
	}
.f-cen { align-items: center }
.f-end { align-items: flex-end }
.f1 { flex: 1 }
.f2 { flex: 2 }
.f3 { flex: 3 }
.f4 { flex: 4 }
