body { background-color: white }

fieldset { border:none }
.index-main {
	flex: 1;
	display:flex;
	align-items:center;
	background-color: black;
	text-align:center;
	border-radius: 2px
}
#index-login {
	width:300px;
	background-color:white;
	padding:10px;
	margin:5px;
	font-size:14px;
	border-radius:2px
	}
.index-input {
	width:250px;
	border: none;
	background-color: #F2F2F2;
	font-size:14px;
	padding:8px;
	margin:1px
}
.index-btn1 { width: 70px }
.index-btn2 { width: 132px }
.index-qual1 {
	display: inline-block;
	width: 170px
}
.index-qual2 {
	display: inline-block;
	width: 80px;
	background-color: #F2F2F2;
	padding: 1px;
	margin-left: -1px
}

.signup {
	width: 600px;
	border:1px solid;
	border-radius: 6px;
	text-align: center
}
.signup-title {
	width: 580px;
	padding: 10px;
	background-color: black;
	color: white;
	border-radius: 5px 5px 0 0;
}
.signup-nav {
	display:inline-block;
	width: 278px;
	background-color: #f2f2f2;
	padding: 10px;
	margin:1px;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer
}
