@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script');

/* 공통 */
body {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	height: 98vh;
	font: 14px NanumGothic;
	color: #1B2631;
	cursor: default;
	background-color: white
}
.white { color: white }
.red { color: red }
h1 { font-family: Kaushan Script }
[type=text],[type=password],[type=number],[type=email],[type=file] {
	width:255px;
	height: 16px;
	border: none;
	background-color: #EBEDEF;
	font-size:14px;
	text-align: center;
	padding:10px;
	margin-bottom:2px
}
[type=file] {
	position: absolute;
	left: 195px;
	width: 100px;
	z-index: 5;
	opacity: 0
}
[type=text]:focus,[type=email]:focus,[type=password]:focus,[type=number]:focus {
    outline: none;
    background-color: #D6EAF8
}
[type=button],[type=submit] {
	width: 100px;
	margin: 1px;
	font: bold 14px NanumGothic
}
fieldset {
	flex: 1;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	border:none
}
.main {
	flex: 1;
	display: flex;
	align-items: center;
	background-color: #1B2631;
	border-radius: 2px;
	padding:5px
}
.main1 { background-color: #CCD1D1 }

/* 로그인 */
.login {
	width: 300px;
	height: 220px;
	background-color: #F8F9F9;
	padding: 15px;
	font-size: 14px;
	text-align: right;
	border-radius: 2px
}
.note {
	width: 255px;
	height: 17px;
	margin: 10px
}
.find { cursor: pointer }
.find:hover { font-weight: bold }
.content,#userSignUp,#hospitalSignUp {
	flex: 1;
	text-align: center;
	color: white
}
.hide { display: none }

/* 회원가입 */
.signUp {
	width: 300px;
	height: 220px;
	background-color: #1B2631;
	padding: 15px;
	font-size: 14px;
	color: #F2F4F4;
	text-align: center;
	border-radius: 2px
}
.signUpNav {
	display:inline-block;
	width: 270px;
	background-color: #F2F4F4;
	padding: 10px;
	font: bold 16px NanumGothic;
	color: #1B2631;
	pointer-events: none;
}
.signUpNavDark {
	background-color: #283747;
	color: #AEB6BF;
	cursor: pointer;
	pointer-events: auto
}
.signUpForm { flex: 1 }
.form1 {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	width: 280px
}
.form2 {
	display: inline-block;
	width: 110px;
}
.qualify1 {
  width: 175px;
  border-radius: 3px 0 0 3px
}
.qualify2 {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80px;
	height: 36px;
	cursor: pointer;
	font-weight: bold;
	color: grey;
  background-color: #E5E8E8;
  border-radius: 0 3px 3px 0
}
.qualify2:hover {
	background-color: #5D6D7E;
	color: #F2F4F4
}
.fileUp { position: relative }

/* 동물병원 찾기 */
#clearWrap {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 10;
	background-color: black;
	opacity: 0.5
}
#findHospital {
	position: absolute;
	z-index: 20;
	width: 900px;
	height: 500px;
	padding: 20px;
	border-radius: 2px;
	background-color: white;
}
