body { background-color: #2e2e2e }

.paper_nav {
	display: flex;
	width: 100%;
	background-color: #f2f2f2;
	padding:8px;
	margin: 0 2px 2px 0;
	border-radius: 2px
	}
.paper_nav1 {
	width: 100px;
	border-right: 1px solid grey;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	color: #1c1c1c
	}
.paper1, .paper2, .paper3 {
	align-self: stretch;
	min-width: 500px;
	min-height: 900px;
	padding: 20px;
	margin: 0 2px 2px 0;
	border-radius: 2px
	}
.paper1 {
	background-color: #f2f2f2;
	color: #424242
	}
.paper2, .paper3 { background-color: #fff }

/* 페이퍼1 */
#info {
	height: 200px;
	border-bottom: 1px solid #bdbdbd;
	margin-bottom:10px
	}
.info1 {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end
	}
.info2 {
	border-bottom: 1px solid #bdbdbd;
	padding: 2px;
	margin-bottom: 2px;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis
	}
.date1, .date2 {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 36px;
	border: 1px solid grey;
	border-right: none;
	border-bottom: none;
	border-radius: 5px 0px 0px 0px;
	margin-bottom: -1px;
	cursor: pointer
	}
.date1 { background-color: #fff	}
.date2:hover {
	outline: none;
	color: #f2f2f2;
	background-color: #2e2e2e;
	}

#list_date {
	border:1px solid grey;
	border-radius:5px;
	padding:6px;
	text-align:center;
	box-shadow:1px 1px 3px #BDBDBD;
	}

#history {
	background-color: #fff;
	border:1px solid grey;
	border-radius:2px;
	box-shadow:1px 1px 3px grey;
	padding:10px;
	margin-top:10px;
	overflow:auto;
}

/* 페이퍼2 */
#s_head {
	height:100px;
	padding:10px
	}
#logo {
	width:90px;
	height:90px;
	background-image:url("/images/logo.png");
	background-size:cover
	}
#cc {
	width:90%;
	margin-top:8px;
	padding:4px;
	border-bottom:2px solid black;
	border-radius: 0px;
	font:800 18px 'Nanum Myeongjo';
	}
#cc:focus { border-color:#01A9DB }

#subjective {
	background-color:transparent;
	border:none;
	font-size:14px
	}
#subjective:focus {
	box-shadow:none
	}


/* 페이퍼3 */

#p_tag {	width:200px	}

#vac_tag { width:200px }
