body { background-color: #2e2e2e }

.paper-nav {
	display: flex;
	align-items: flex-end;
	width: 100%;
	background-color: #fff;
	padding:8px;
	margin: 0 2px 2px 0;
	border-radius: 2px
	}
.paper-nav1 {
	width: 100px;
	border-right: 1px solid grey;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: grey;
	cursor: pointer
	}
.paper-nav1:hover { color: #1c1c1c }
.paper1, .paper2, .paper3 {
	align-self: stretch;
	min-width: 500px;
	max-width: 800px;
	min-height: 900px;
	padding: 20px;
	margin: 0 2px 2px 0;
	border-radius: 2px;
	color: #585858
	}
.paper1 {
	background-color: #F2F2F2;
	color: #585858
	}
.paper2, .paper3 {
	background-color: #fff;
	color: #000
	}

/* 페이퍼1 */
#info {
	height: 200px;
	overflow: auto
	}
.info {
	border-bottom: 2px solid #E6E6E6;
	padding: 3px 2px;
	margin: 1px;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis
	}
.date1, .date2 {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 130px;
	height: 36px;
	border: 1px solid #A4A4A4;
	border-bottom: none;
	border-radius: 5px 0px 0px 0px;
	margin: 0 -1px -1px 0;
	cursor: pointer;
	z-index: 10
	}
.date1 {
	background-color: #FAFAFA;
	border-right:1px solid #FAFAFA
	}
.date2:hover {
	outline: none;
	color: #f2f2f2;
	background-color: #2e2e2e;
	}
#date3 {
	width: 131px;
	background-color: #FAFAFA;
	border:1px solid #A4A4A4;
	border-radius:5px;
	padding-top:10px;
	margin: 0 -2px -2px -1px;
	text-align:center;
	box-shadow:1px 1px 3px #A4A4A4;
	z-index: 10
	}
#history {
	background-color: #FAFAFA;
	border:1px solid #A4A4A4;
	border-radius:2px;
	box-shadow:1px 1px 3px #A4A4A4;
	padding:10px;
	margin-top:10px;
	overflow:auto;
}

/* 페이퍼2 */
#logo {
	width:80px;
	height:80px;
	background-image:url("/images/photo.jpeg");
	background-size:cover;
	margin: 10px
	}
#cc {
	width:100%;
	margin: 10px 0 6px 0;
	padding:4px;
	background-color: transparent;
	border-bottom:2px solid black;
	border-radius: 0px;
	font:800 18px 'Nanum Myeongjo';
	}
#cc:placeholder { color: #01A9DB }
#cc:focus {
	border-color: #01A9DB;
	background-color: #FAFAFA
	}
#subjective {
	background-color:transparent;
	border:none;
	}
#subjective:focus {
	box-shadow:none;
	background-color: #FAFAFA
	}


/* 페이퍼3 */

#p_tag {	width:200px	}
#vac_tag { width:200px }
