doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		.flex_column.flex_center.w100
			#login_banner.flex_row
				form#login
					fieldset
						.center
							input(type="text",placeholder="아이디").input_login
							br
							input(type="password",placeholder="비밀번호').input_login
							p
							input(type="checkbox",checked)#check_id 아이디저장
							p
							button(type="submit").button_login 로그인
							button(type="submit").button_login 회원가입
							p
							#find_id ID/PW 찾기
				.banner.flex1.flex_row.flex_center
					blockqoute
						h1 PAPER
//						p the Simplist one for all Vet...
